<title>Landing Page</title>
<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-mosquito-9.gif" style="width:100%">
  <a class="w3-padding-large w3-black" id="ToMain" href="http://localhost:5050/">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRoot" href="http://localhost:5050/Root">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INITIATION</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRegister" href="http://localhost:5050/Registration">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SIGN-UP</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToLogin" href="http://localhost:5050/Index">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SIGN-IN</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->


<!-- Page Content -->
  <div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home"> <!-- Home -->
    <div id="landingdescription"><h1 class="w3-jumbo"><span class="w3-hide-small">(Home)</span></h1></div>
    <div id="landingdescription2"><h1 class="w3-jumbo"><span class="w3-hide-small">Greetings!</span></h1></div>
    <p>Introductory of the project</p>
  </header>
  <center><img src="https://ih1.redbubble.net/image.251946646.7431/flat,800x800,070,f.u1.jpg" style="width:60%">
  </div>
  
    <!-- Footer -->
  <center>
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="www.facebook.com/pieyyouelph"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
    <a href="www.twitter.com/pieyyouel"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Paul Sango</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
