<title>Login</title>
<script type="text/javascript">

      if(sessionStorage.clickcount > 0){
                var newurl = "http://localhost:5050/dash";
                    if(newurl!=window.location){
                         window.history.pushState({path:newurl},'',newurl);
                         window.location.reload();
                    }
    }

    var counter;    

    $(document).ready(function(){
      $("#button").click(function(){

            $.ajax({
              url: 'http://localhost:5050/Accounts',
              dataType: 'json',
              type: 'get',    
              cache: false,

              success: function(data){
                  counter = data.length;
                  $(data).each(function(index, value){ 

                      var a = document.getElementById('EmailAddress').value;
                      var b = document.getElementById('Pass').value;

                      if(a == value.Email && b == value.Password){
                        $("#warninglog").html("Log-in success.").fadeIn().delay(2000).fadeOut(2000);
                        document.location = "http://localhost:5050/Dash";
                        sessionStorage.clickcount = 1;
                        //alert("Success");
                        return false;
                      }
                      else{
                        counter--;
                      }
                  });
                      if(counter == 0){
                         $("#warninglog").html("Missing Credentials, Email or Password Error.").fadeIn().delay(2000).fadeOut(2000);
                      }
              }
            });
          });
    });

</script>


<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-mosquito-9.gif" style="width:100%">
  <a class="w3-padding-large w3-black" id="ToMain" href="http://localhost:5050/">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRoot" href="http://localhost:5050/Root">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INITIATION</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRegister" href="http://localhost:5050/Registration">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SIGN-UP</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToLogin" href="http://localhost:5050/Index">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SIGN-IN</p>
  </a>
</nav>

  <div class="w3-padding-64 w3-content w3-text-grey"> <!-- Login -->
    <h2 class="w3-text-light-grey">LOG-IN</h2>
    <hr style="width:200px" class="w3-opacity">

    <p>Sign-In if you have an account.</p>
      <div id="warninglog"></div>
      <p><input type="text" class="w3-input w3-padding-16" id="EmailAddress" placeholder="Email Address"></p>
      <p><input type="password" class="w3-input w3-padding-16" id="Pass" placeholder="Password"></p>
        <button id="button" class="w3-btn w3-light-grey w3-padding-large" type="button">
          <i class="fa fa-sign-in" aria-hidden="true"></i> SIGN-IN
        </button>
    

  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="www.facebook.com/pieyyouelph"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
    <a href="www.twitter.com/pieyyouel"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Paul Sango</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
