<title>Registration</title>
  <script type="text/javascript"> 
      if(sessionStorage.clickcount > 0){
                var newurl = "http://localhost:5050/dash";
                    if(newurl!=window.location){
                         window.history.pushState({path:newurl},'',newurl);
                         window.location.reload();
                    }
    }
    $(document).ready(function(){
      $("#button2").click(function(){ 
          //alert("something is wrong");
          var email = $("#EmailAddress").val();
          var pass = $("#Pass").val();
          var pass2 = $("#Pass2").val();
              if(!(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/).test(email) || pass.length < 8 || pass != pass2){
                $("#warninglog").html("Email or Password Error(Atleast 8 Characters).").fadeIn().delay(2000).fadeOut(2000);
              }
              else{
                $.post("http://localhost:5050/signing-up",{email: email,password: pass}, function(data){
                      
                });
                $("#successlog").html("Registration Success").fadeIn().delay(2000).fadeOut(2000);
                //alert("Good");
                document.location = "http://localhost:5050/Index";
              }
          });
    });
  </script>

<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-mosquito-9.gif" style="width:100%">
  <a class="w3-padding-large w3-black" id="ToMain" href="http://localhost:5050/">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRoot" href="http://localhost:5050/Root">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INITIATION</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRegister" href="http://localhost:5050/Registration">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SIGN-UP</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToLogin" href="http://localhost:5050/Index">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SIGN-IN</p>
  </a>
</nav>
  
  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="Sign-up"> <!-- Registration -->
    <h2 class="w3-text-light-grey">Registration</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Davao, PH</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +63947310617</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: psango@gmail.com</p>
    </div><br>
    <p>Lets get in touch. Sign-up here:</p>
    <div id="warninglog"></div><div id="successlog"></div>
    <form action="form.asp" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" id="EmailAddress" placeholder="Email Address" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="password" id="Pass" placeholder="Password" required name="Password"></p>
      <p><input class="w3-input w3-padding-16" type="password" id="Pass2" placeholder="Confirm Password" required name="ConfirmPassword"></p>
      <p>
        <button class="w3-btn w3-light-grey w3-padding-large" type="button" id="button2">
          <i class="fa fa-registered" aria-hidden="true"></i> SIGN-UP
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>


  
  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="www.facebook.com/pieyyouelph"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
    <a href="www.twitter.com/pieyyouel"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Paul Sango</p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>