<title>Guide Page</title>
  <script type="text/javascript">

      if(sessionStorage.clickcount > 0){
                var newurl = "http://localhost:5050/dash";
                    if(newurl!=window.location){
                         window.history.pushState({path:newurl},'',newurl);
                         window.location.reload();
                    }
    }

    var counter;    

  </script>

<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="http://www.how-to-draw-funny-cartoons.com/image-files/cartoon-mosquito-9.gif" style="width:100%">
  <a class="w3-padding-large w3-black" id="ToMain" href="http://localhost:5050/">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRoot" href="http://localhost:5050/Root">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>INITIATION</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToRegister" href="http://localhost:5050/Registration">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>SIGN-UP</p>
  </a>
  <a class="w3-padding-large w3-hover-black" id="ToLogin" href="http://localhost:5050/Index">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>SIGN-IN</p>
  </a>
</nav>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="initiation"> <!-- Initiation -->
    <div id="someText2">I was clicked test.</div>
    <h2 class="w3-text-light-grey"><div id="Gwapo">Pieyyouel: Paul Nathaniel C. Sango</div></h2>
    <hr style="width:200px" class="w3-opacity">
    <p>
    On this repository, It only discussed on how to operate MySQL and Nodejs.
    </p>
    <h3 class="w3-padding-16 w3-text-light-grey">Sources:</h3>
    <p class="w3-wide">Professor Clyde Balaman</p>
    <div>
      <ul>
        <li><a href="https://www.electrictoolbox.com/autoincrement-value-mysql/">MySQL</a></li>
        <li><a href="https://www.npmjs.com/">Express</a></li>
        <li><a href="https://www.npmjs.com/">Body-Parser</a></li>
        <li><a href="https://www.npmjs.com/">Json-Server</a></li>
        <li><a href="https://www.npmjs.com/">Session</a></li>
      </ul>
    </div></br>
    <p class="w3-wide">The post and get using ajax: </p>
    <div>
      <ol>
        <li><a href="https://www.youtube.com/watch?v=XuLRKMqozwA">Site 1</a></li>
        <li><a href="https://codeforgeek.com/2014/09/handle-get-post-request-express-4/">Site 2</a></li>
        <li><a href="https://github.com/alexbooker/code-cast-code/tree/master/node-mysql-demo">Site 3</a></li>
        <li><a href="https://gist.github.com/diorahman/1520485">Site 4</a></li>
      </ol>
    </div></br>

    <p class="w3-wide">
      Things should do before running the code.</br>
      On nodejs command prompt, do the following instructions: 
    </p>
    <div>
      <ol>
        <li>npm install</a></li>
        <li>npm start or node app.js</a></li>
      </ol>    
    </div></br>
    <p class="w3-wide">MySql Database code: </p>

    <div>
      <p>
      SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";<br>
      SET time_zone = "+00:00";<br>
      <br>
      CREATE TABLE IF NOT EXISTS `users` (<br>
        `Email` varchar(50) NOT NULL,<br>
        `Password` varchar(50) NOT NULL,<br>
        `ID` int(25) NOT NULL<br>
      ) ENGINE=InnoDB DEFAULT CHARSET=latin1;<br>
      <br>
      INSERT INTO `users` (`Email`, `Password`, `ID`) VALUES<br>
      ('admin@gmail.com', 'admin123', 0),<br>
      ('pieyyouel@gmail.com', 'pieyyouel123', 1);<br>
      <br>
      ALTER TABLE `users`<br>
      ADD PRIMARY KEY (`Email`); </p>
    </div>
    </div><br>
  


    <!-- Footer -->
  <center><footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="www.facebook.com/pieyyouelph"><i class="fa fa-facebook-official w3-hover-text-indigo"></i></a>
    <a href="www.twitter.com/pieyyouel"><i class="fa fa-twitter w3-hover-text-light-blue"></i></a>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Paul Sango</p>
  <!-- End footer -->
  </footer>

